/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 16, 2016, 11:07:31 PM
    Author     : PATIPAT
*/
/*@font-face {
    font-family: 'Trirong';
    src: url('../fonts/Trirong/Trirong-SemiBold.ttf') format('truetype');  IE9 Compat Modes
}
@font-face {
    font-family: 'Taviraj';
    src: url('../fonts/Taviraj/Taviraj-Regular.ttf') format('truetype');  IE9 Compat Modes
}
body {
    font-family: 'Taviraj', Fallback, sans-serif !important;
}*/
@font-face {
    font-family: 'Bangna';
    src: url('../fonts/bangna/bangna.ttf') format('truetype');
}
@font-face {
    font-family: 'Prompt';
    src: url('../fonts/Prompt/Prompt-Regular.ttf') format('truetype');
}
@font-face {
        font-family: 'THSarabunNew';
        src: url('../fonts/sarabun/thsarabunnew-webfont.eot');
        src: url('../fonts/sarabun/thsarabunnew-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/sarabun/thsarabunnew-webfont.woff') format('woff'),
            url('../fonts/sarabun/thsarabunnew-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;

    }
html,
body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .site-menu-title ,title,tspan,a,title {
    height: 100%;
    font-family: 'Prompt', Fallback, sans-serif !important;
}
.no-overflow {
    overflow: hidden !important;
}

.agenda-item {
    height: auto; 
}

.agenda-clickable {
    border-color: #a83b24;
    color: #a83b24;
}

.agenda-actions {
    position: absolute; margin: 0; top: 7px; right: 10px;
}

.update-meeting-agenda-info {
    position: fixed;
    /* width: 500px; */
    top: 72px;
    z-index: 1000;
    left: 220px;
}

.whiteframe-1dp, .whiteframe-z1 {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); }

.whiteframe-2dp {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12); }

.whiteframe-3dp {
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12); }

.whiteframe-4dp, .whiteframe-z2 {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }

.whiteframe-5dp {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12); }

.whiteframe-6dp {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12); }

.whiteframe-7dp, .whiteframe-z3 {
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12); }

.whiteframe-8dp {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }

.whiteframe-9dp {
    box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12); }

.whiteframe-10dp, .whiteframe-z4 {
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12); }

.whiteframe-11dp {
    box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12); }

.whiteframe-12dp {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12); }

.whiteframe-13dp, .whiteframe-z5 {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12); }

.whiteframe-14dp {
    box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12); }

.whiteframe-15dp {
    box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12); }

.whiteframe-16dp {
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12); }

.whiteframe-17dp {
    box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12); }

.whiteframe-18dp {
    box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12); }

.whiteframe-19dp {
    box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12); }

.whiteframe-20dp {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12); }

.whiteframe-21dp {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12); }

.whiteframe-22dp {
    box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12); }

.whiteframe-23dp {
    box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12); }

.whiteframe-24dp {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12); }

.page {
    max-width: 2800px !important;
}

.page-toolbar {
    position: fixed;
    width: 100%;
    top: 66px;
    z-index: 1000;
    background-color: #eceff1;
    max-width: 2800px;
    /*height: 38px;*/
}

.page-header + .page-content.has-page-toolbar {
    padding-top: 51px;
}

.header-toolbar {
    position: fixed;
    z-index: 1300;
}

.breadcrumb {
    line-height: 30px;
}

/*.form-material .form-control,
.form-material .form-control:focus,
.form-material .form-control.focus {
    float: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2196F3), to(#2196F3)), -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#e0e0e0));
    background-image: -webkit-linear-gradient(#2196F3, #2196F3), -webkit-linear-gradient(#e0e0e0, #e0e0e0);
    background-image:      -o-linear-gradient(#2196F3, #2196F3), -o-linear-gradient(#e0e0e0, #e0e0e0);
    background-image:         linear-gradient(#2196F3, #2196F3), linear-gradient(#e0e0e0, #e0e0e0);
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.no-cssgradients .form-material .form-control:focus,
.no-cssgradients .form-material .form-control.focus {
    background: transparent;
    border-bottom: 2px solid #2196F3;
}

.form-material .form-control:focus ~ .floating-label,
.form-material .form-control.focus ~ .floating-label {
    color: #2196F3;
}

.form-material.form-group.has-error .form-control,
.form-material.form-group.has-error .form-control:not(.empty) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f44336), to(#f44336)), -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#e0e0e0));
    background-image: -webkit-linear-gradient(#f44336, #f44336), -webkit-linear-gradient(#e0e0e0, #e0e0e0);
    background-image:      -o-linear-gradient(#f44336, #f44336), -o-linear-gradient(#e0e0e0, #e0e0e0);
    background-image:         linear-gradient(#f44336, #f44336), linear-gradient(#e0e0e0, #e0e0e0);
}

.no-cssgradients .form-material.form-group.has-error .form-control,
.no-cssgradients .form-material.form-group.has-error .form-control:not(.empty) {
    background: transparent;
    border-bottom: 2px solid #f44336;
}
.form-material.form-group.has-error .form-control:-webkit-autofill {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f44336), to(#f44336)), -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#e0e0e0));
    background-image: -webkit-linear-gradient(#f44336, #f44336), -webkit-linear-gradient(#e0e0e0, #e0e0e0);
    background-image:         linear-gradient(#f44336, #f44336), linear-gradient(#e0e0e0, #e0e0e0);
}

.form-material.form-group.has-error .form-control ~ .floating-label,
.form-material.form-group.has-error .form-control:not(.empty) ~ .floating-label {
    color: #f44336;
}
.form-material.form-group.has-error .form-control:-webkit-autofill ~ .floating-label {
    color: #f44336;
}

.form-material.form-group.has-error .form-control ~ .hint {
    display: block;
}
*/
/*.form-material .form-control,
.form-material .form-control:focus,
.form-material .form-control.focus {
    float: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00BCD4), to(#00BCD4)), -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#e0e0e0));
    background-image: -webkit-linear-gradient(#00BCD4, #00BCD4), -webkit-linear-gradient(#e0e0e0, #e0e0e0);
    background-image:      -o-linear-gradient(#00BCD4, #00BCD4), -o-linear-gradient(#e0e0e0, #e0e0e0);
    background-image:         linear-gradient(#00BCD4, #00BCD4), linear-gradient(#e0e0e0, #e0e0e0);
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.no-cssgradients .form-material .form-control:focus,
.no-cssgradients .form-material .form-control.focus {
    background: transparent;
    border-bottom: 2px solid #00BCD4;
}

.form-material .form-control:focus ~ .floating-label,
.form-material .form-control.focus ~ .floating-label {
    color: #00BCD4;
}*/

.form-material.form-group.has-error .form-control,
.form-material.form-group.has-error .form-control:not(.empty) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f44336), to(#f44336)), -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#e0e0e0));
    background-image: -webkit-linear-gradient(#f44336, #f44336), -webkit-linear-gradient(#e0e0e0, #e0e0e0);
    background-image:      -o-linear-gradient(#f44336, #f44336), -o-linear-gradient(#e0e0e0, #e0e0e0);
    background-image:         linear-gradient(#f44336, #f44336), linear-gradient(#e0e0e0, #e0e0e0);
}
.no-cssgradients .form-material.form-group.has-error .form-control,
.no-cssgradients .form-material.form-group.has-error .form-control:not(.empty) {
    background: transparent;
    border-bottom: 2px solid #f44336;
}
.form-material.form-group.has-error .form-control:-webkit-autofill {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f44336), to(#f44336)), -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#e0e0e0));
    background-image: -webkit-linear-gradient(#f44336, #f44336), -webkit-linear-gradient(#e0e0e0, #e0e0e0);
    background-image:         linear-gradient(#f44336, #f44336), linear-gradient(#e0e0e0, #e0e0e0);
}

.form-material.form-group.has-error .form-control ~ .floating-label,
.form-material.form-group.has-error .form-control:not(.empty) ~ .floating-label {
    color: #f44336;
}
.form-material.form-group.has-error .form-control:-webkit-autofill ~ .floating-label {
    color: #f44336;
}

.form-material.form-group.has-error .form-control ~ .hint {
    display: block;
}
.form-material.form-group.has-error .input-group ~ .hint {
    display: block;
}

.form-material.form-group.has-error .hint {
    display: block;
}

a, .table a {
    text-decoration: none;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    /*font-family: 'Glyphicons Halflings';*/
    font-family: 'Material-Design-Iconic-Font';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: '\f1cf'; /*"\e155" /*"\e151"*/;
}

a.desc:after {
    content: '\f1d0' /*"\e114"*/ /*"\e152"*/;
}

.sort-numerical a.asc:after {
    content: "\f1cd" /*"\e153"*/;
}

.sort-numerical a.desc:after {
    content: "\f1ce" /*"\e154"*/;
}

.sort-ordinal a.asc:after {
    content: "\f1cd" /*"\e155"*/;
}

.sort-ordinal a.desc:after {
    content: "\f1ce" /*"\e156"*/;
}

.grid-view th {
    white-space: nowrap;
}

.line-height-0 {
    line-height: 0 !important;
}
.line-height-10 {
    line-height: 10px !important;
}
.line-height-12 {
    line-height: 12px !important;
}
.line-height-14 {
    line-height: 14px !important;
}
.line-height-16 {
    line-height: 16px !important;
}
.line-height-18 {
    line-height: 18px !important;
}
.line-height-20 {
    line-height: 20px !important;
}
.line-height-24 {
    line-height: 24px !important;
}
.line-height-26 {
    line-height: 26px !important;
}
.line-height-30 {
    line-height: 30px !important;
}
.line-height-40 {
    line-height: 40px !important;
}
.line-height-50 {
    line-height: 50px !important;
}
.line-height-60 {
    line-height: 60px !important;
}
.line-height-70 {
    line-height: 70px !important;
}
.line-height-80 {
    line-height: 80px !important;
}

.vertical-align-top {
    vertical-align: top !important;
}

#ajaxCrudModal .modal-footer button {
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .18), 0 2px 4px rgba(0, 0, 0, .21);
    box-shadow: 0 0 2px rgba(0, 0, 0, .18), 0 2px 4px rgba(0, 0, 0, .21);
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.4, 0, .2, 1);
    -o-transition:         box-shadow .25s cubic-bezier(.4, 0, .2, 1);
    transition:         box-shadow .25s cubic-bezier(.4, 0, .2, 1);
}
#ajaxCrudModal .modal-footer button:hover,
#ajaxCrudModal .modal-footer button:active,
#ajaxCrudModal .modal-footer button.active {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .15), 0 3px 6px rgba(0, 0, 0, .2);
    box-shadow: 0 0 3px rgba(0, 0, 0, .15), 0 3px 6px rgba(0, 0, 0, .2);
}
#ajaxCrudModal .modal-footer button.disabled,
#ajaxCrudModal .modal-footer button[disabled],
fieldset[disabled] #ajaxCrudModal .modal-footer button {
    -webkit-box-shadow: none;
    box-shadow: none;
}


/*Select2 CSS*/
.select2-container--krajee .select2-results__group {
    background-color: lightgray;
    font-weight: 900;
}

.select2-container--open {
    z-index: 10000;
}

.select2-container .select2-selection--single {
    height: 34px !important;
}

.select2-container--krajee .select2-selection--single {
    padding: 6px 0px 6px 0px;
}

.select2-container--krajee.select2-container--open .select2-selection, .select2-container--krajee .select2-selection:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(185, 246, 202, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(185, 246, 202, 0.6);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border-color: #43A047 !important;
}

.select2-container--krajee .select2-results__option[aria-selected=true] {
    color: #43A047;
    background-color: #B9F6CA;
}

/*.select2-container--krajee .select2-selection {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00BCD4), to(#00BCD4)), -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#e0e0e0));
    background-image: -webkit-linear-gradient(#00BCD4, #00BCD4), -webkit-linear-gradient(#e0e0e0, #e0e0e0);
    background-image:      -o-linear-gradient(#00BCD4, #00BCD4), -o-linear-gradient(#e0e0e0, #e0e0e0);
    background-image:         linear-gradient(#00BCD4, #00BCD4), linear-gradient(#e0e0e0, #e0e0e0);
}*/

.select2-container--krajee .select2-dropdown {
    border-color: #43A047 !important;
}

.select2-container--krajee .select2-results__option--highlighted[aria-selected] {
    color: white;
    background-color: #43A047 !important;
}


.select2-container .select2-selection--single .select2-selection__rendered {
    /*    padding-left: 8px !important;
        padding-right: 20px !important;*/
    padding-left: 8px;
    padding-right: 20px;
}

.select2-container .select2-selection--single .select2-selection__clear {
    font-size: 22px;
    line-height: 22px;
}

.select2-container--krajee .select2-results__option--highlighted[aria-selected] .table {
    color: white;
}

/*daterangepicker css*/

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
    background: #43A047;
    border: 1px solid #43A047;
    color: #fff;
}

.daterangepicker .ranges li {
    font-size: 13px;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    color: #43A047;
    padding: 3px 12px;
    margin-bottom: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.daterangepicker .input-mini.active {
    border: 1px solid #43A047;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #43A047;
    border-color: #43A047;
    color: #fff;
}

.datepicker .ranges li.active, .datepicker .ranges li:hover {
    background: #43A047;
    border: 1px solid #43A047;
    color: #fff;
}

.datepicker .ranges li {
    font-size: 13px;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    color: #43A047;
    padding: 3px 12px;
    margin-bottom: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.datepicker .input-mini.active {
    border: 1px solid #43A047;
}

.datepicker td.active, .datepicker td.active:hover {
    background-color: #43A047 !important;
    border-color: #43A047 !important;
    color: #fff !important;
}
.datepicker.datepicker-dropdown {
    z-index: 1710 !important;
}
.modal.bootstrap-dialog {
    z-index: 2000 !important;
}

/*.form-material .floating-label {
    top: 8px;
}*/

.form-material .input-group ~ .floating-label {
    font-size: 14px;
    top: 7.99999998px;
}
.form-material .input-group:focus ~ .floating-label,
.form-material .input-group.focus ~ .floating-label,
.form-material .input-group:not(.empty) ~ .floating-label {
    top: -11.2px;
    font-size: 11.2px;
}
.form-material .input-group:-webkit-autofill ~ .floating-label {
    top: -11.2px;
    font-size: 11.2px;
}

/*.select2-container--open .select2-dropdown {
    width: 600px !important;
}*/

.border-none {
    border: none !important;
}

.line-through {
    text-decoration: line-through;
}

/* divider */
hr.scissors {
    border-top: 1px dashed #8c8b8b;
}
hr.scissors:after {
    content: '\002702';
    display: inline-block;
    position: relative;
    top: -14px;
    left: 49%;
    padding: 0 3px;
    background: #f0f0f0;
    color: #8c8b8b;
    font-size: 18px;
}


.table > thead > tr > td.primary,
.table > tbody > tr > td.primary,
.table > tfoot > tr > td.primary,
.table > thead > tr > th.primary,
.table > tbody > tr > th.primary,
.table > tfoot > tr > th.primary,
.table > thead > tr.primary > td,
.table > tbody > tr.primary > td,
.table > tfoot > tr.primary > td,
.table > thead > tr.primary > th,
.table > tbody > tr.primary > th,
.table > tfoot > tr.primary > th {
    color: white;
    background-color: #2196f3;
}

.primary a, a.primary {
    color: #fff;
}

.site-menu-title {
    white-space: normal !important;
    line-height: 1.2 !important;
}